.App{
  height: 100vh;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: #86c5c2;
}

.Map{
  position: relative;
  border: 2px solid #424645;
  background-color: #d4f8f6;
}